@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    color: #2b1c1f;
}

/* nav 클릭 */
nav ul li:nth-child(5) a{
    font-weight: 700;
    color: #e9ac18;
}

section {
    width: 100%;
}


/* contant */
.title, .title>img {
    width: 100%;
    position: relative;
}

.title>img:nth-child(2) {
    display: none;
}

.trip-contant {
    width: 54%;
    margin: 0 auto;
}

.trip-contant a img {
    margin-top: 7%;
    width: 100%;
}

.trip-contant a:nth-child(5) img {
    margin-bottom: 15%;
}

@media screen and (max-width:1100px) {
    .title {
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
    }
    .trip-contant {
        width: 80%;
    }
    .trip-contant a:nth-child(1) img {
        margin-top: 12%;
    }
}

@media screen and (max-width:720px) {
    .title {
        width: 100%;
    }
    .title>img:nth-child(1) {display: none;}
    .title>img:nth-child(2) {
        display: block;
        margin-top: 5%;
    }
    .trip-contant {
        width: 92%;
    }
    .trip-contant a:nth-child(1) img {
        margin-top: 15%;
    }
    .trip-contant a:nth-child(5) img {
        margin-bottom: 25%;
    }
}
